/*-- scss:defaults --*/

// $code-block-font-size: 0.55em;
$code-block-font-size: 0.7em;
$code-block-bg: #f9f9f9;
$code-block-border-color: #000000;

/*-- scss:rules --*/

/*
div.cell-output.cell-output-stdout {
    font-size: 100%;
}

div.cell-output.cell-output-display {
    font-size: 100%;
}
 */
